.home {
    flex: 4;
  }
  
  .homeWidgets {
    display: flex;
    margin: 20px;
  }


  /* @media(max-width: 768px){
    .homeWidgets{
        display: initial !important;
        width: 100%;
    }
  } */